@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Pro:wght@200&display=swap');

.topcontent{
    color: white;
   
}
.topcontent_container{
    position: absolute;
    top:400px;
    right:50px;
    margin: 100px;
    padding: 20px;
    

}
button{
    background-color: palevioletred;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 20px;
    color: white;
    font-weight: bolder;
    margin: 2px;
    float:right;
}
.topcontent_container > p{
    font-weight: bolder;
}
.topcontent_container >h1{
    text-align: right;
}
.topcontent_container>p{
    text-align: right;
}